In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# 数据加载
data = pd.read_csv("NEWmatrix.csv",error_bad_lines=False) # 跳过导致混乱的行
data.head()

,Unnamed: 0,ACTA-SCI-TECHNOL,ADV-COMPLEX-SYST,ADV-THEOR-SIMUL,AN-ACAD-BRAS-CIENC,ANN-NY-ACAD-SCI,ARAB-J-SCI-ENG,CHIANG-MAI-J-SCI,COMPLEXITY,CR-ACAD-BULG-SCI,...,SCI-BULL,SCI-DATA,SCIENCE,SCIENCEASIA,SCI-ENG-ETHICS,SCIENTIST,SCI-PROGRESS-UK,SCI-REP-UK,SYMMETRY-BASEL,T-ROY-SOC-SOUTH-AUST
0,ACTA-SCI-TECHNOL,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ADV-COMPLEX-SYST,0,4,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,5,0,0
2,ADV-THEOR-SIMUL,0,0,45,0,0,0,0,0,0,...,2,5,84,0,0,0,0,133,0,0
3,AN-ACAD-BRAS-CIENC,1,0,0,64,1,0,0,0,0,...,0,0,39,0,1,0,0,59,0,0
4,ANN-NY-ACAD-SCI,0,0,0,0,108,0,0,0,0,...,0,0,65,0,0,0,0,96,0,0

In [3]:
data2 = pd.read_csv("NEWresult_all.csv",error_bad_lines=False)
data2.head()

,journal_name,degree_centrality,betweenness_centrality,closeness_centrality,eigenvector_centrality,journalrank,IF,Total Articles,Number of References,Total Cites
0,PLOS-ONE,1.333333,0.238369,0.809043,0.324165,0.178271,2.740,10942.0,524483.0,688786.0
1,SCI-REP-UK,1.317460,0.218435,0.731463,0.313448,0.091140,3.998,19845.0,993641.0,386857.0
2,P-NATL-ACAD-SCI-USA,0.984127,0.065040,0.628198,0.278627,0.090548,9.412,3347.0,173577.0,676445.0
3,NAT-COMMUN,0.920635,0.080044,0.667460,0.268526,0.067085,12.121,5444.0,307218.0,312602.0
4,NATURE,0.873016,0.041285,0.684575,0.294634,0.149949,42.779,882.0,42034.0,767246.0

In [4]:
journal_lst = data2['journal_name']
target_lst  = data['Unnamed: 0']
Paps = data2['Total Articles']
Refs = data2['Number of References']

In [5]:
orders = [np.where(journal_lst==target)[0][0] for target in target_lst]

In [6]:
Paps.tolist()

[10942.0,
 19845.0,
 3347.0,
 5444.0,
 882.0,
 710.0,
 1221.0,
 1391.0,
 683.0,
 262.0,
 1481.0,
 357.0,
 495.0,
 615.0,
 107.0,
 230.0,
 306.0,
 608.0,
 53.0,
 407.0,
 153.0,
 293.0,
 149.0,
 249.0,
 190.0,
 156.0,
 128.0,
 36.0,
 81.0,
 93.0,
 296.0,
 104.0,
 63.0,
 143.0,
 8.0,
 61.0,
 316.0,
 101.0,
 48.0,
 10.0,
 62.0,
 18.0,
 155.0,
 71.0,
 44.0,
 35.0,
 51.0,
 33.0,
 34.0,
 1.0,
 49.0,
 77.0,
 98.0,
 28.0,
 3.0,
 90.0,
 13.0,
 38.0,
 174.0,
 216.0,
 24.0,
 60.0,
 17.0,
 10.0]

In [7]:
Refs.tolist()

[524483.0,
 993641.0,
 173577.0,
 307218.0,
 42034.0,
 40672.0,
 58918.0,
 38547.0,
 34213.0,
 12727.0,
 53755.0,
 14049.0,
 28577.0,
 21330.0,
 6362.0,
 9774.0,
 15473.0,
 24616.0,
 2897.0,
 11259.0,
 7756.0,
 10495.0,
 8314.0,
 9102.0,
 6792.0,
 5521.0,
 3716.0,
 77.0,
 3810.0,
 6374.0,
 15125.0,
 4447.0,
 2631.0,
 4535.0,
 229.0,
 2995.0,
 9045.0,
 3025.0,
 1012.0,
 564.0,
 2696.0,
 813.0,
 8817.0,
 1989.0,
 1269.0,
 375.0,
 1617.0,
 80.0,
 0.0,
 151.0,
 1055.0,
 1986.0,
 1587.0,
 1214.0,
 123.0,
 1805.0,
 590.0,
 1672.0,
 0.0,
 3379.0,
 1267.0,
 1574.0,
 485.0,
 534.0]

In [10]:
result/Paps[orders[j]]

0.8461538461538461

In [11]:
data.iloc[:,1:]

,ACTA-SCI-TECHNOL,ADV-COMPLEX-SYST,ADV-THEOR-SIMUL,AN-ACAD-BRAS-CIENC,ANN-NY-ACAD-SCI,ARAB-J-SCI-ENG,CHIANG-MAI-J-SCI,COMPLEXITY,CR-ACAD-BULG-SCI,CURR-SCI-INDIA,...,SCI-BULL,SCI-DATA,SCIENCE,SCIENCEASIA,SCI-ENG-ETHICS,SCIENTIST,SCI-PROGRESS-UK,SCI-REP-UK,SYMMETRY-BASEL,T-ROY-SOC-SOUTH-AUST
0,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,4,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,5,0,0
2,0,0,45,0,0,0,0,0,0,0,...,2,5,84,0,0,0,0,133,0,0
3,1,0,0,64,1,0,0,0,0,0,...,0,0,39,0,1,0,0,59,0,0
4,0,0,0,0,108,0,0,0,0,0,...,0,0,65,0,0,0,0,96,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,0,0,0,0,0,0,0,0,0,0,...,0,0,19,0,0,0,0,9,0,0
60,0,0,0,0,0,0,0,0,0,0,...,0,0,14,0,0,0,24,12,0,0
61,0,2,5,21,205,5,2,16,0,30,...,45,120,4082,2,10,0,5,17945,20,0
62,0,0,0,2,0,21,3,24,3,0,...,0,0,52,0,0,0,0,111,1124,0
63,0,0,0,0,0,0,0,0,0,0,...,0,0,4,0,0,0,0,0,0,11

In [14]:
results = np.array(data.iloc[:,1:])
for i in range(results.shape[0]):
    for j in range(results.shape[1]):
        result = results[i][j]
        try:
            results[i][j] = result/Paps[orders[j]]*10**7
            results[i][j] = result/Refs[orders[i]]*10**7
        except:
            print('ERROR')
results = pd.DataFrame(results)
results.to_csv('NEWCitingMatrix.csv')

ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR
ERROR

<ipython-input-14-d497a2eea336>:7: RuntimeWarning: invalid value encountered in true_divide
  results[i][j] = result/Refs[orders[i]]*10**7